# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_ACCESS_IN=30m
JWT_EXPIRES_REFRESH_IN=3d

# Cookies
COOKIE_MAX_AGE_ACCESS=30m
COOKIE_MAX_AGE_REFRESH=3d

# === ACTIVE DIRECTORY ===
AD_URL=ldap://
AD_DOMAIN=
AD_BASEDN=

# Protheus (SQL Server)
PROTHEUS_DB_USER=
PROTHEUS_DB_PASSWORD=
PROTHEUS_DB_SERVER=
PROTHEUS_DB_DATABASE=
PROTHEUS_DB_PORT=1433
PROTHEUS_DB_OPTIONS_ENCRYPT=false

# App
PORT=4000
NODE_ENV=dev

# Google OAuth
GOOGLE_CLIENT_ID=

# MySQL Database
MYSQL_HOST=localhost
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=gpprh
MYSQL_PORT=3306
